<div class='col-md-6 col-md-offset-3'>
  <h1>Calculate your daily calories</h1>
  <p>It's easy to get your fitness goal</p>
  
  
  <% @profiles.each do |profile| %>
  <div class='well'>
    看看<%= link_to profile.user_name, user_daily_plans_path(profile.user_id) %>的每日計畫
    </br>
  </div>
  <% end %>

</div>